.titulo{
    text-align: center;
    font-family: fantasy;
    font-size: 100px;
}

.boby{
    background-color: rgb(255, 250, 203);
}
.lista>li{
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
    color: darkorange;
    padding-left: 50px;
}
.imagen{
    justify-self: center;
    width: 400px;
    margin: 10%;
}
.container{
    background-color: rgb(231, 74, 74);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.container2{
    background-color: rgb(231, 74, 74);
    text-align: center;
    padding: 2%;
    margin: 50px;
}

.barra{
    color: yellow;
    background-color:rgb(255, 250, 203);

}